---
import { siteConfig } from '../lib/site.mjs';
---

<nav class="nav" role="navigation" aria-label="Main navigation">
  <a href="/" class="nav-logo" aria-label={`${siteConfig.appName} home`}>
    <img class="nav-brand-lockup" src="/assets/brand-lockup-full.svg" alt="maatriks logo" width="168" height="33" />
    <img class="nav-brand-mark" src="/assets/brand-mark-white.svg" alt="maatriks logo" width="28" height="28" />
  </a>
  <button class="nav-toggle" aria-label="Toggle navigation" aria-expanded="false" type="button">
    <span></span><span></span><span></span>
  </button>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</nav>
